@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #0d1116;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sora: var(--font-sora);
  --font-reddit-sans: var(--font-reddit-sans);
  --font-jersey-15: var(--font-jersey-15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	width: 100%;
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-behavior: smooth;
	overflow-x: hidden;
  position: relative;
}

pre code span span {
  font-family: var(--font-jersey-15);
}

.reddit-sans pre code span span {
  font-family: var(--font-reddit-sans);
}

.motion-slider-gradient {
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 10%,
    rgba(0,0,0,1) 90%,
    rgba(0,0,0,0)
  );
}

p > strong {
  background-color: #171717;
  padding: 0.3rem 0.4rem;
  border-radius: 3px;
}
